<?xml version="1.0" encoding="UTF-8"?>
<!-- 
     PrepareStatement / ResultSet 관련 => SQL
     myBatis => ORM => 관계형 데이터베이스를 연동하는 클래스의 집합
     hibernate => JPA
         public BoardVO findByNo(int no);
                       =======WHERE no=10
          Select * FROM board
 -->
 <!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.dao.board-mapper">
  <!-- 목록 출력 -->
  <select id="boardListData" resultType="BoardVO" parameterType="hashmap">
    SELECT no,subject,name,regdate,hit,num 
    FROM (SELECT no,subject,name,regdate,hit,rownum as num 
    FROM (SELECT no,subject,name,regdate,hit 
    FROM board ORDER BY no DESC))
    WHERE num BETWEEN #{start} AND #{end}
  </select>
  <!-- 총페이지 -->
  <select id="boardTotalPage" resultType="int">
    SELECT CEIL(COUNT(*)/10.0) FROM board
    <!-- WHERE no&lt;10 => 부등호 사용 불가-->
  </select>
  <!-- 데이터 추가(글쓰기) -->
  <insert id="boardInsert" parameterType="BoardVO">
    <!-- MyBatis 시퀀스 만들기 -->
    <selectKey keyProperty="no" resultType="int" order="BEFORE">
      SELECT NVL(MAX(no)+1,1) as no FROM board
    </selectKey>
    INSERT INTO board VALUES(#{no},#{name},#{subject},#{content},#{pwd},SYSDATE,0)
  </insert>
  <!-- 
       #{name} => vo.getName()
       {} => getXxx()
   -->
  <!-- 조회수 증가 -->
  <!-- 상세보기 -->
  <!-- 삭제하기 -->
  <!-- 수정하기 -->
</mapper>